<h4>Products</h4>

<div [hidden]="hasError == false">
    Some error 
</div>

<div [hidden]="hasError == true">
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of data">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
