
<h3>Login</h3>

<div [formGroup]="formGroup">
    <div *ngIf="message" class="alert alert-danger">
        {{message}}
    </div>
    <div>
        <p>Name</p>
        <input name="name" class="form-control" formControlName="name"/>
        <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.dirty" class="alert alert-danger">
            The field is required
        </div>
    </div>
    <div>
        <p>Password</p>
        <input name="password" type="password" class="form-control" formControlName="password"/>
    </div>

    <br />
    <div>
        <button class="btn btn-primary" (click)="login()" [disabled]="formGroup.invalid">Login</button>
    </div>
</div>